<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Bonk Fantasy News</title>
</head>
<body>
    <header style="display: flex; align-items: center; gap: 24px;">
        <img src="{{ url_for('static', filename='Bjonk_Logo_2.png') }}" alt="Site Logo" style="height:100px;">
        <div>
            <h1 style="margin: 0;">Bonk Fantasy News</h1>
            <form action="{{ url_for('main.search') }}" method="GET" style="margin-top: 8px;">
                <input type="text" name="query" placeholder="Search Past Issues..." required>
                <button type="submit">Search</button>
            </form>
        </div>
    </header>
    <main>
        <h2>Past Seasons:</h2>
        <ul>
            {% for dir, files in grouped_pdfs.items() %}
                {% if dir %}
                    <li><strong>{{ dir }}</strong>
                        <ul>
                            {% for file in files %}
                                <li>
                                    <a href="{{ url_for('main.view_pdf', filename=dir ~ '/' ~ file) }}">{{ file }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    {% for file in files %}
                        <li>
                            <a href="{{ url_for('main.view_pdf', filename=file) }}">{{ file }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </main>
</body>
</html>